.ButtonPrimary {
  background-color: blue;
  padding: 2px 8px;
}

.ButtonDanger {
  background-color: red;
  padding: 2px 8px;
}

.ButtonEnabled {
  cursor: pointer;
}

.ButtonDisabled {
  cursor: not-allowed;
  background-color: grey;
}
