.AddTodo {
  margin-top: 8px;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.AddTodoSubmit {
  margin-left: 8px;
}

.AddTodoInputBox {
  border-radius: 4px;
  width: 100%;
}
