body {
  font-family: Arial, Helvetica, sans-serif;
}

button,
input[type='submit'] {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
}

.App {
  width: 80%;
  margin: auto;
  margin-top: 16px;
}
